[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
python-box = "*"

[dev-packages]
"flake8" = "*"
tox = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"
coverage = "*"
mock = "*"
twine = "*"
Sphinx = "*"
pytest-lazy-fixture = "*"
"ruamel.yaml" = "*"
funcsigs = "*"
pytest-runner = "*"
